<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78547531665-i9f5umj44gf9tsb73m4s97h7bm9vofsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78547531665-i9f5umj44gf9tsb73m4s97h7bm9vofsv</string>
	<key>API_KEY</key>
	<string>AIzaSyDTky6ZwttN4VuAIh2XhkLaVBk-rrE0vl4</string>
	<key>GCM_SENDER_ID</key>
	<string>78547531665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sirius.apns.sanekyy</string>
	<key>PROJECT_ID</key>
	<string>covid-app-d6a36</string>
	<key>STORAGE_BUCKET</key>
	<string>covid-app-d6a36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78547531665:ios:91a5bd75f522ad4108cc30</string>
</dict>
</plist>